*, *::before, *::after {
    box-sizing: border-box;
  }

.App {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: auto;
    column-gap: 50px;
    min-width: 1650px;
    max-width: 2250px;
}


@media only screen and (max-width: 1650px) {
    .App {
        min-width: 90%;
        flex-direction: column;
    }
}